.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix

*.dm.md
*.dm.jpeg
*.dm.png
*.dm.jpg
*.dm.gif
*.dm.webp
*.dm.svg
*.dm.ico
*.dm.bmp
*.dm.tiff
*.dm.tif
*.dm.heic
*.dm.heif